p {
	color: blue;
}

.title {
	font-size: 50px;
	font-family: "Righteous", "Monaco", monospace;
	text-align: center;
	margin: -20px;
}

.meal {
	font-size: 20px;
	font-family: "Tangerine", serif;
	text-shadow: 4px 4px 4px #aaa;
}
